html{
	height: 100%;
}
body{
	text-align: center;
	color: white;
	height: 100%;
	background-image: linear-gradient(#42275a,#734b6d);

}
.btnSearch{
	width: 50%;
	height: 25px;
	margin: 5px;
}
.input{
	width: 95%;
	height: 30px;
	margin: 5px;
}
#listTable{

	border: wheat solid;

}